.App {
  text-align: center;
}

.container {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchText {
  box-sizing: border-box;
  padding-left: 15px;
  height: 45px;
  width: 350px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  background-color: #fff;
  margin: 0px 10px;
  font-size: 20px;
}

.button {
  background-color: #0087ff;
  border: 1px solid #0087ff;
  height: 45px;
  width: 100px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
}
.button:disabled {
  background-color: gray;
  border: 1px solid gray;
  height: 45px;
  width: 100px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  cursor: not-allowed;
}

